#header {
    margin-bottom: 60px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(111, 134, 77);
    text-shadow: black 0.1em 0.1em 0.2em;
    background: rgb(94, 85, 179);
    border-style: solid;
    border: 5px;
    border-color: rgb(15, 15, 15);
}
