#bg_register {
  background-position:center;
  margin: 0 auto;
  text-align: center;
}

#main-div {
   padding-top: 25px;
   padding-left: 25px;
   padding-right: 25px;
   color: black;
   background-color: rgb(255, 255, 255);
   /* text-align: left; */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   max-width: 750px;
   margin: auto;
 }
 
 #register_background {
   color: black;
   /* background-color: rgb(233, 232, 230); */
 }
 
 #register_form {
   margin-top: -25px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: white;
   border-radius: 5px;
 }
 
 #register_info {
   margin-top: -25px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: white;
   border-radius: 5px;
 }
 
 #register_title {
   margin-top: -25px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: white;
   border-radius: 5px;
   text-align: center;
 }
 
 #user_type_select {
   margin-bottom: 25px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   background-color: rgb(228, 228, 228);
   /* color: aliceblue; */
   border-radius: 5px;
 }
 
 #submit_btn {
   font-size: x-large;
   margin-top: 20px;
   margin-bottom: 25px;
 }